.comma-separated-item:not(:last-child)::after {
  content: ", ";
}

.resume-page {
  width: 8.5in;
  margin: 0 auto;
}

/* TODO Build Tailwind locally and pass to config */
.text-2xl {
  font-size: 1.4rem !important; /* Default is 1.5rem */
}

@page {
  margin: 0.125in 0.125in 0.125in 0.125in;
}
